<div class="row">
    <div class=" col-6">
        <img src="../assets/imagenes/fotoperfil.png" class="imagen">
    </div>
    <div class="nombre col-6">
        <h1>Mario Alberto Viloria Salamanca</h1>
        <h2>Programador Front-End Especialista en (Angular)</h2>
        <h3>Estudios Ingeniero En Red y Sofware (Trunco)</h3>
        <h4>Edad 30 Años</h4>
        <h5>Lema Todos Los Retos Son Alcanzables</h5>
    </div>
</div>

<div class="row">
    <div class="perfilpro col-6">
        <h1 class="text-center">Perfil profecional</h1>
                  <h5 class="perfilpro2"> Ingeniero en sofware y redes con conocimientos en diseño usando librerías como Photoshop e
                    Illustrator con ganas de especializarme en fronend con proyectos diferentes actualmente de forma
                    autodidacta estudio Angular, php, mysql que son los ámbitos que más me interesan, deseo aprender
                    nuevas cosas y dedicarme a lo que en realidad me apasiona. Mi misión es levantarme todos los días
                    para resolver problemas usando la programación y el trabajo en equipo. Dando la dedicación y el
                    tiempo para superar cualquier obstáculo que se presente y lograr los objetivos establecidos. </h5>
    </div>
    <div class="col-6 text-center">
        <video onloadedmetadata="this.muted=true" autoplay loop class="video">
            <source src="./assets/videos/HelloWorld.mp4">
        </video>
    </div>
    
    <div class="row pt-5">
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./assets/imagenes/proyectoheroes.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./assets/imagenes/proyectopipes.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./assets/imagenes/proyectopaises.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>



    <div class="row pt-5">
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./assets/imagenes/proyectogifs.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="./assets/imagenes/proyecto7.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto8.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>



    <div class="row pt-5">
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto6.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto5.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto4.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>



    <div class="row pt-5">
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto3.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto2.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '600px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="/assets/imagenes/proyecto1.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>


    <div class="padingdiseno row pt-5">
        <div class="fondoprepa col-7 text-center p-5">
            <img src="/assets/imagenes/undraw_heatmap_uyye.svg" class="imagendiseno">
        </div>
        <div class="col-5">
            <h2 class="tituloh2 text-center">Certificado: Dise&ntilde;o Digital</h2>

            <ul class="uldiseno">
                <li>Lugar de estudio</li>
                <li>Escuela De Dise&ntilde;o Arte y Publicidad</li>
                <li>Ciudad De Mexico,Mexico</li>
            </ul>
        </div>
    </div>

    
    <div class="padingdiseno row pt-5">
        <div class="col-5">
            <h2 class="tituloh2 text-center">Certificado: Preparatoria</h2>
				<ul class="uldiseno">
					<li>Lugar de estudio</li>
					<li>CNCI</li>
					<li>Ciudad De Mexico,Mexico</li>
				</ul>   
        </div>
        <div class="fondodiseno col-7 text-center p-5">
            <img src="/assets/imagenes/education.svg" class="imagendiseno">
        </div>
    </div>
    
    <div class="padingdiseno row pt-5">
        <div class="fondoprogramador col-7 text-center p-5">
            <img src="/assets/imagenes/programador.svg" class="imagendiseno">
        </div>
        <div class="col-5">     
                    <h2 class="tituloh2 text-center">Titulo: <br>Ingeniero En Red y Sof (Actualmente cursando) </h2>
                        <ul class="uldiseno">
                            <li>Lugar de estudio</li>
                            <li>UNITEC</li>
                            <li>Ciudad De Mexico,Mexico</li>
                        </ul>   
        </div>
    </div>
    

    

    <div class="tamanocajatec row">
        
        <div class="col-12 mt-5"> 
            <div class="absolute">
                <p>Tecnologias</p>
            </div>
            
            <video  onloadedmetadata="this.muted=true" autoplay loop>
                <source src="./assets/videos/elc.mp4">
            </video>
           
        </div>
    </div>
            <!-- taregtas -->

    <div id="formacion">
      <div class="row bg-white" id="Tecnologias">
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-css/maquetacion-2/index.html" id="a">
                    <img src="./assets/imagenes/html.png" alt="" id="HTML" class="float-md-left">
                    <p id="html" class="float-xs-left">HTML</p>
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-css/maquetacion-2/index.html" id="a">
                    <img src="./assets/imagenes/css.png" alt="" id="HTML" class="float-md-left">
                    <p id="html">CSS</p>
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-css/bootstrap-ejercicios/componentes.html" id="a">
                    <img src="./assets/imagenes/sass.png" alt="" id="HTML" class="float-md-left">
                <p id="html">SASS</p>
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-css/bootstrap-ejercicios/componentes.html" id="a">
                    <img src="./assets/imagenes/boostrap.png" alt="" id="HTML" class="float-md-left">
                <p id="html">BOOTSTRAP</p>
                </a>
            </div>
        </div>  
    </div>

    <div id="formacion">
         <div class="row bg-white" id="Tecnologias">
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-js/proyecto-js/index.html" id="a">
                    <img src="./assets/imagenes/JS.png" alt="" id="HTML" class="float-md-left">
                <p id="html">JS</p>
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-js/proyecto-js/index.html" id="a">
                    <img src="./assets/imagenes/jquery.png" alt="" id="HTML" class="float-md-left">
                    <p id="html">JQUERY</p>      
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-js/proyecto-angular/index.html" id="a">
                    <img src="./assets/imagenes/angular.png" alt="" id="HTML" class="float-md-left">
                <p id="html">ANGULAR</p>
                </a>
            </div>
            <div class="item col-xs-12 col-md-3 " id="card">
                <a href="proyectos-en-js/proyecto-angular/index.html" id="a">
                    <img src="./assets/imagenes/mongodb.png" alt="" id="HTML" class="float-md-left">
                    <p id="html">MONGO DB</p>
                </a>
            </div>
        </div> 
    </div>

    <!-- 
        formulario
     -->

    


    <div class="row">
        <div class="col-12 text-center h2 p-4 ">
            <footer>Mario Salamanca Web&copy;</footer>
        </div>
    </div>

    
</div>