/* You can add global styles to this file, and also import other style files */
html, body{
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-x: hidden;
}   
.lista1{
margin-left: 32%;
}
.lista2{
    margin-left: 5%;
}