<div class="row ">
    <div class="col-1 h1 pt-2 px-5 "> 
    <a href="https://github.com/MarioSalamanca64">  
    <i class="bi bi-github"></i>
    </a>
    </div>
    <div class="col-1 h1 pt-2 px-5 "> 
    <a href="https://www.linkedin.com/in/mariosalamanca/">
        <i class="bi bi-linkedin"></i>
    </a>
    </div>
    <div class="col-1 h1 pt-2 px-5 ">   
    <a href="https://www.facebook.com/mario.salamanca.37201/">
        <i class="bi bi-facebook"></i>
    </a>
    </div>
    <div class="col-9 h2 pt-2 ">
        <!-- border border-danger -->
        <ul class="lista1" >
            <li class="lista2 pt-2">Perfil Profecional</li>
            <li class="lista2 pt-2">Proyectos</li>
            <li class="lista2 pt-2">Formacion</li>
            <li class="lista2 pt-2">Formulario</li>
        </ul>
    </div>
</div>